nav {
    margin-top: 0;
    color: #fff;
    background-color: black;
    padding: 1rem 2.5rem;
    position: relative;
}

.glowTop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

ul p {
    margin-left: auto;
    padding: 1rem 2.5rem
}

.navItem {
    display: flex;
    align-items: center;
}


a {
    color: #9FA1A3;
    cursor: pointer;
    position: relative;
}

a::after {
    content: " ";
    bottom: -8px;
    left: -4px;
    right: -4px;
    position: absolute;
    border-top: 2px solid #A4FF4F;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .6s
        cubic-bezier(.19,1,.22,1);
}

a:hover {
    color: #fff;
}

a:hover::after {
    transform: scaleX(1);
    box-sizing: border-box;

}

.logo {
    transform: scale(0.4);
    margin-right: 20px;
}